doctype
html
    head
        link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(href="css/style.css" rel="stylesheet" type="text/css")
    body
        
        .container
            p Scrabble
            .board
            .rack
            #score
            .btn
                button(id="reset") New Tiles
                button(id="restartGame") New Game
        .contact 
            a(href="https://www.linkedin.com/in/yoyildiz") Yusuf Yildiz
        script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous")
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
        script(src="js/script.js")
